{% extends 'base.html' %}
{% block content %}

<section class="list-header">
  <div class="container">
    <h1 class="is-size-1">Available Bags</h1>
  </div>
</section>

{% for bag in bags %}
  <div class="card">
    <a href="{% url 'public_bag_detail' bag.id %}">
      <div class="card-content">
        <span class="card-title is-size-4 has-text-primary">{{ bag.name }}</span>
      </div>
    </a>
  </div>
{% endfor %}

{% endblock %}

<section class="container">
  <div class="columns">
    <div class="column">
      <p class="is-size-4">
        These bags are currently available!
      </p>
    </div>
  </div>
  <div class="columns">
    {% for bag in bags %}
    <a href="{% url 'profile_bag_detail' bag.id %}" class="column">
      <div class="card card-pale">
        <div class="card-content">
          <span class="card-title">{{bag.name}}</span>
        </div>
      </div>
    </a>
    {% empty %}
        <p>Sorry, you have no bags.</p>
    {% endfor %}
  </div>
</section>