{% extends 'base.html' %}
{% block content %}

<div class="columns is-centered">
  <div class="column is-half">
    <h1 class="is-size-1">Sign Up</h1>
    {% if error_message %}
      <p class="red-text">
        {{ error_message }}
      </p>
    {% endif %}

<form id="signup-form" method="post" action="{% url 'signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn button is-primary" value="I'm Ready!">
    <input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock %}