{% extends 'base.html' %}
{% block content %}

<section id="team-profiles" class="columns is-centered">
  
  <div class="column has-background-grey-light">
    <div class="container has-background-primary"> 
        <figure class="image is-128x128 center-horizontal">
          <img class="is-rounded" src="https://picsum.photos/128/128">
        </figure>
        <h3 class="has-text-centered">Kris</h3>
    </div>
  </div>

  <div class="column has-background-grey">
    <div class="container has-background-primary">
      <figure class="image is-128x128">
        <img class="is-rounded" src="https://picsum.photos/128/128">
      </figure>
      <h3 class="has-text-centered">Beni</h3>
    </div>
  </div>

  <div class="column has-background-grey-dark">
    <div class="container has-background-primary">
      <figure class="image is-128x128">
        <img class="is-rounded" src="https://picsum.photos/128/128">
      </figure>
      <h3 class="has-text-centered">Kita</h3>
    </div>
  </div>
</section>


<!-- <h1>About the Team</h1>
<hr />
<h5>Create new otters and toys in this fun collection.<br><br>Feed the otters daily and give them the toys you created!</h5>
<br>
<h6>✨Because we really otter be friends ✨</h6> -->

{% endblock %}