{% extends 'base.html' %}

{% block content %}

  <!-- Main -->
  <main class="section">
    <div class="columns" id="main-columns">

      <!-- Bag on Left -->
      <div class="column">
        <div id="bag-image">
          <img src="https://i.ibb.co/31vf4CG/thisisabag.png" alt="">
        </div>
      </div>

      <!-- Text/Buttons on Right -->
      <div class="column">
        <div id="main-hooks">

          <div id="recipient-hook">
            <p>Need a little something from a neighbor?</p>
            <button class="button is-danger is-small" id="all-donations-button">See Available Donations</button>
          </div>

          <div id="donor-hook">
            <p>Have a little extra to share with a neighbor?</p>
            <button class="button is-danger" id="all-donations-button">Login to Donate a Bag</button>
          </div>

        </div>
      </div>
    </div>
  </main>

{% endblock content %}