{% extends 'base.html' %}
{% block content %}

<div class="columns is-centered">
  <div class="card card-pale column is-two-thirds extra-padding">
    <h3 class="is-size-3">Delete Bag</h3>
    <h4 class="is-size-5">Are you sure you want to delete?</h4>

    <form method="POST">
      {% csrf_token %}
      <input type="submit" value="I'm sure - Delete!" class="btn button is-danger">
      <a href="{% url 'profile' %}" class="button is-outlined">Cancel</a>
    </form>
  </div>
</div>

{% endblock %}
