{% extends 'base.html' %}
{% block content %}

<!-- ---------------- USER/PROFILE DETAIL  -->
<!-- Bag & Bag Contents -->
<div class="columns is-centered">
  <div class="column is-three-fifths">
    <h2 class="is-size-2">{{bag.name}}</h2>
  <div class="card card-pale">
    <div class="card-content">
      <span class="card-title is-size-5">This bag contains the following:</span>
      <div class="content">
        <ol type="1">
          {% for item in bag.content %}
            <li>{{ item }}</li>
          {% endfor %}
        </ol>
      </div>
      <div class="buttons">
        <a href="{% url 'bags_update' user.id bag.id %}" class="button is-primary">
          <strong>Edit This Bag</strong>
        </a>
        <a href="{% url 'bags_delete' user.id bag.id %}" class="button is-light">
          Delete This Bag
        </a>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}