{% extends 'base.html' %}
{% block content %}

<section class="list-header">
  <!-- <div class="container"> -->
    <h1 class="is-size-1 ">User Profile</h1>
  <!-- </div> -->
</section>

<div class="card" id="profile-header">
    <div class="card-content">
        <span class="is-size-2 is-capitalized">Hello, {{user.profile.user}}!</span>
        <p class="is-size-5">You have offered to donate the following bags:</p>
        <span>{{ user.profile.location}}</span>
        <span>{{ user.profile.bio}}</span>
    </div>
</div>

<section class="container">
  {% for bag in bags %}
  <a href="{% url 'profile_bag_detail' user.id bag.id %}">
      <div class="card">
          <div class="card-content">
              <span class="card-title">{{bag.name}}</span>
              <p>{{ bag.content }}</p>
          </div>
          {% comment %} <div class="card-action">
              <a href="{% url 'bags_update' user.id bag.id %}">Edit</a>
              <a href="{% url 'toys_delete' toy.id %}">Delete</a>
          </div> {% endcomment %}
      </div>
  </a>
  {% empty %}
      <p>Sorry, you have no bags.</p>
  {% endfor %}
</section>

{% endblock %}
